.home-container {
	width: 100%;
	display: flex;
	overflow: auto;
	min-height: 100vh;
	align-items: flex-end;
	flex-direction: column;
	justify-content: center;
	scroll-behavior: smooth;
	background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.home-container1 {
	left: 261px;
	width: 678px;
	bottom: 0px;
	height: 996px;
	margin: auto;
	display: flex;
	position: absolute;
	margin-top: auto;
	align-items: flex-start;
	flex-direction: column;
	padding-bottom: 99px;
}
.home-text {
	top: 239px;
	left: 0px;
	color: rgb(20, 12, 92);
	right: 0px;
	margin: auto;
	position: absolute;
	font-size: 22px;
	text-align: center;
	padding-top: 1px;
}
.home-textinput {
	top: 327px;
	left: 0px;
	right: 0px;
	width: 250px;
	margin: auto;
	position: absolute;
	text-align: center;
}
.home-textinput1 {
	top: 394px;
	left: 0px;
	right: 0px;
	width: 250px;
	margin: auto;
	position: absolute;
	text-align: center;
}
.home-text1 {
	top: 313px;
	left: 0px;
	color: var(--dl-color-gray-black);
	right: 0px;
	width: 250px;
	margin: auto;
	position: absolute;
	font-size: 10px;
	font-style: normal;
	text-align: left;
	font-weight: 400;
}
.home-navlink {
	top: 511px;
	left: 0px;
	color: rgba(0, 0, 0, 0.62);
	right: 0px;
	width: 250px;
	margin: auto;
	position: absolute;
	font-size: 9px;
	text-align: center;
	text-decoration: none;
}
.home-text2 {
	top: 379px;
	left: 0px;
	right: 0px;
	width: 250px;
	margin: auto;
	position: absolute;
	font-size: 10px;
	text-align: left;
}
.home-navlink1 {
	top: 457px;
	left: 0px;
	color: rgb(255, 255, 255);
	right: 0px;
	width: var(--dl-size-size-large);
	margin: auto;
	position: absolute;
	font-size: 12px;
	align-self: center;
	text-align: center;
	padding-top: var(--dl-space-space-halfunit);
	border-color: var(--dl-color-gray-black);
	border-width: 1px;
	padding-left: var(--dl-space-space-oneandhalfunits);
	border-radius: var(--dl-radius-radius-radius2);
	padding-right: var(--dl-space-space-oneandhalfunits);
	padding-bottom: var(--dl-space-space-halfunit);
	text-decoration: none;
	background-color: rgb(20, 12, 92);
}
.home-image {
	top: 140px;
	left: 0px;
	right: 0px;
	width: 82px;
	height: 90px;
	margin: auto;
	position: absolute;
	object-fit: cover;
}
