.forgot-password-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);;
}
.forgot-password-container1 {
  width: 666px;
  height: 966px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 21px;
}
.forgot-password-text {
  top: 318px;
  left: 0px;
  color: rgb(20, 12, 92);
  right: 0px;
  margin: auto;
  position: absolute;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: 1px;
}
.forgot-password-image {
  top: 205px;
  left: 0px;
  right: 0px;
  width: 82px;
  height: 90px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.forgot-password-textinput {
  top: 394px;
  left: 0px;
  right: 0px;
  width: 250px;
  margin: auto;
  position: absolute;
}
.forgot-password-link {
  top: 344px;
  left: 0px;
  color: rgba(0, 0, 0, 0.62);
  right: 0px;
  width: 150px;
  margin: auto;
  position: absolute;
  font-size: 9px;
  text-align: left;
}
.forgot-password-navlink {
  top: 344px;
  left: 0px;
  color: rgb(20, 12, 92);
  right: 0px;
  width: 200px;
  margin: auto;
  position: absolute;
  font-size: 9px;
  text-align: right;
  font-weight: 600;
  text-decoration: none;
}
.forgot-password-text4 {
  top: 379px;
  left: 0px;
  right: 0px;
  width: 250px;
  margin: auto;
  position: absolute;
  font-size: 10px;
  text-align: left;
}
.forgot-password-link1 {
  top: 452px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 150px;
  margin: auto;
  position: absolute;
  font-size: 12px;
  align-self: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: rgb(20, 12, 92);
}
