.change-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.change-password-container1 {
  width: 100%;
  max-width: 666px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21px;
}

.change-password-text {
  color: rgb(20, 12, 92);
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.change-password-image {
  width: 82px;
  height: 90px;
  object-fit: cover;
  margin-top: 10px;
}

.change-password-input-container {
  width: 100%;
  max-width: 250px;
  margin-bottom: 15px;
}

.change-password-textinput,
.change-password-textinput1 {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.change-password-text1 {
  color: rgba(0, 0, 0, 0.62);
  font-size: 9px;
  margin-bottom: 10px;
}

.change-password-navlink {
  color: rgb(20, 12, 92);
  font-size: 9px;
  text-align: right;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 20px;
}

.change-password-text5,
.change-password-text6 {
  max-width: 250px;
  width: 100%;
  font-size: 10px;
  text-align: left;
  margin-bottom: 15px;
}

.change-password-navlink1 {
  color: rgb(255, 255, 255);
  width: 150px;
  font-size: 12px;
  text-align: center;
  padding: 8px;
  border: 1px solid var(--dl-color-gray-black);
  border-radius: var(--dl-radius-radius-radius2);
  text-decoration: none;
  background-color: rgb(20, 12, 92);
  margin-top: 20px;
}
